#
# {{ ansible_managed }}
#

[Unit]
Description=Monero Node
After=network.target

[Service]
Type=forking
PIDFile={{ monerod_run_dir }}/monerod.pid
ExecStart={{ monerod_bin_path }} --config-file={{ monerod_config_dir }}/monerod.conf --pidfile={{ monerod_run_dir }}/monerod.pid --detach
Restart=on-failure
RestartSec=30

User={{ monerod_unix_user }}
Group={{ monerod_unix_group }}

# /run/monero
RuntimeDirectory=monerod
RuntimeDirectoryMode=0710
# /var/lib/monero
StateDirectory=monerod
StateDirectoryMode=0710
# /var/log/monero
LogsDirectory=monerod
LogsDirectoryMode=0710
# /etc/monero
ConfigurationDirectory=monerod
ConfigurationDirectoryMode=0710

PrivateTmp=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
